<section class="footer">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="img-fluid" src="/logo.png" alt="logo">
            </div>
            <div class="col-12 col-md-6 mt-3">
                <h5 class="text-black-50">Contáctanos</h5>
                <ul class="list-unstyled text-small align-items-center ulp ul-horizontal">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Mesa de ayuda</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Tel: +569 1234 5678</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">correo:
                            ferremas&#64;contacto.cl</a></li>
                </ul>
            </div>
            <!-- <div class="col-12 col-md-3">
                <h5 class="text-black-50">Ayuda</h5>
                <ul class="list-unstyled text-small ulp ul-horizontal">
                    <li class="mb-1">Nuestras Tiendas
                </ul>
            </div> -->
            <div class="col-12 col-md-3 mt-3">
                <img class="img-fluid" src="/Webpay.webp" alt="webpay">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="text-black-50">
                <div class="text-center text-black-50 pt-0">
                    © 2024 Ferremas. Todos los derechos reservados.
                </div>
            </div>
        </div>
    </div>
</section>