<section class="hero">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/personas.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                    height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Todo lo que necesitas para construir y
                    renovar</h1>
                <p class="lead">En Ferremas, somos tu aliado confiable en ferretería. Ofrecemos una amplia gama de
                    herramientas, insumos de construcción y materiales de alta calidad para llevar tus proyectos al
                    siguiente nivel. Con nosotros, construyes mejor, más rápido y con total confianza.</p>
            </div>
        </div>
    </div>
</section>