<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="my-3">
                    <h3>Resultados de la búsqueda: {{searchFor}}</h3>
                </div>
                <hr>
                @if (filteredProductList.length > 0) {
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    @for (item of filteredProductList; track item.id) {
                    <div class="col">
                        <div class="card h-100 zoom-card">
                            <img class="card-img-top" [src]="'http://localhost:8000' + item.image_url" alt="">
                            <div class="card-body d-flex flex-column">
                                <strong>{{item.marca?.nom_marca}}</strong>
                                <p class="card-title">{{ item.nombre }}</p>
                                <strong class="mt-auto">{{ item.precio | currency: 'CLP':'symbol-narrow' }}</strong>
                                <div class="d-grid mt-3">
                                    <button class="btn btn-success">
                                        Agregar al carro
                                        <i class="bi bi-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                } @else {
                <div style="height: 500px;">
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <br><br>
</section>